.first-block {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img17.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.first-block {
    background-color: var(--background-color);
    height: 600px;
    padding: 200px 0 200px 0;
    text-align: center;
}