  .footer-list-first {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    list-style-type: none;
    color: var(--white-color);
  }
    .footer-list-first__text {
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      list-style-type: none;
      color: var(--white-color);
      margin-top: 20px;
    }
        .footer-list-first__email {
          font-size: 14px;
          line-height: 1.714;
          letter-spacing: 0.03em;
          list-style-type: none;
          color: var(--white-color);
        }
                .footer-list-first__email--link {
                  text-decoration: solid;
                  color: var(--third-color);
                  list-style-type: none;
                  text-decoration: none;
                }
        
      .footer-list-first__email--link:hover {
                  color: var(--mark-color);
            }
      .footer-list-first__email--link:focus {
                  color: var(--mark-color);
     }

         .footer-list-first__phone {
           margin-bottom:60px;
           list-style-type:none;
         }

                 .footer-list-first__phone--link {
                   font-size:14px;
                   line-height:1.714;
                   letter-spacing:0.03em;
                   list-style-type:none;
                   text-decoration:none;
                   color: var(--third-color);
                 }

                                 .footer-list-first__phone--link:hover {
                                   color: var(--mark-color);
                                 }
                
                                 .footer-list-first__phone--link:focus {
                                   color: var(--mark-color);
                                 }