.form-modal {
    position: relative;
    top: 75px;
    right: 0px;
    margin-left: 40px;
}

.form-modal__username-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    color: var(--third-color);
    letter-spacing: 0.01em;
    position: relative;
    top: -21px;
    margin-top: 12px;
}
.form-modal__username-input:focus {
    border: 2px solid var(--mark-color);
}
.form-modal__username-input {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    position: relative;
    top: -24px;
    margin-top: 4px;
    outline: 0;
    padding-left: 42px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__username-icon {
    position: relative;
    top: -19px;
    right: 452px;
    width: 18px;
    height: 18px;
    margin-left: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__username-input:focus+.form-modal__username-icon {
    fill: var(--mark-color);
}

.form-modal__user-phone-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    color: var(--third-color);
    letter-spacing: 0.01em;
    position: relative;
    top: -24px;
    margin-top: 10px;
}

.form-modal__user-phone-input {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    position: relative;
    top: -26px;
    margin-top: 4px;
    outline: none;
    padding-left: 42px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.form-modal__user-phone-input:focus {
    border: 2px solid var(--mark-color);
}

.form-modal__user-phone-icon {
    position: relative;
    top: -21px;
    right: 452px;
    width: 18px;
    height: 18px;
    margin-left: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__user-phone-input:focus+.form-modal__user-phone-icon {
    fill: var(--mark-color);
}
.form-modal__user-email-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    color: var(--third-color);
    letter-spacing: 0.01em;
    position: relative;
    top: -24px;
    margin-top: 10px;
}
.form-modal__user-email-input {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    position: relative;
    top: -26px;
    margin-top: 4px;
    outline: none;
    padding-left: 42px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__user-email-input:focus {
    border: 2px solid var(--mark-color);
}
.form-modal__user-email-icon {
    position: relative;
    top: -21px;
    right: 452px;
    width: 18px;
    height: 18px;
    margin-left: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.form-modal__user-email-input:focus+.form-modal__user-email-icon {
    fill: var(--mark-color);
}

.form-modal__place-for-comment-textarea {
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-top: 12px;
    padding-left: 16px;
    position: relative;
    top: -26px;
    margin-top: 4px;
    outline: none;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__place-for-comment-textarea:focus {
    border: 2px solid var(--mark-color);
}

.form-modal__place-for-comment-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    color: var(--third-color);
    letter-spacing: 0.01em;
    position: relative;
    top: -24px;
    margin-top: 10px;
}

.form-modal__checkbox-link {
    color: var(--mark-color);
}

.form-modal__checkbox-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--third-color);
    position: relative;
    right: -19px;
}

.form-modal__checkbox-text::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid var(--main-color);
    position: relative;
    top: 3px;
    right: 7px;
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__checkbox-input:checked+.form-modal__checkbox-text::before {
    background-color: var(--mark-color);
    border: none;
    background-image: url(../images/Vector7.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.form-modal__checkbox-input {
    visibility: hidden;
}
.form-modal__place-for-comment {
    font-size: 12px;
}
.form-modal__button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: var(--mark-color);
    cursor: pointer;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    position: relative;
    top: 18px;
    left: 125px;
}