.header-mail {
    text-decoration: none;
    color: var(--third-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--third-color);
    margin-top: 32px;
    margin-bottom: 31px;
    margin-right: 50px;
    display: flex;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
    &__icon {
            fill: currentColor;
            margin-right: 10px;
        }
                &:hover {
                    color: var(--mark-color);
                    fill: #2196f3;
                }
        
                &:focus {
                    color: var(--mark-color);
                }
}

