.portfolio-gallery 
{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 94px;
    margin-bottom: 94px;
    &__item {
            position: relative;
            margin-top: 30px;
        }
                &__item:hover {
                    cursor: pointer;
                    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                            0px 4px 4px rgba(0, 0, 0, 0.06),
                            1px 4px 6px rgba(0, 0, 0, 0.16);

                }
                                &__item:hover .overlay-portfolio {
                                    transform: translateX(0);
                                    cursor: pointer;
                                }
}
.overflow {
    position: absolute;
    top: -3px;
    overflow: hidden;
    height: 300px;
    width: 370px;
    &__text {
            width: 301px;
            height: 196px;
            position: absolute;
            left: 24px;
            top: 49px
        }
}

.overlay-portfolio {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    color: var(--white-color);
    line-height: 1.555;
    letter-spacing: 0.03em;
    transition-property: transform;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-gallery-figcaption {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    &__name {
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            margin-left: 24px;
        }
                &__text {
                    font-size: 16px;
                    line-height: 1.875;
                    letter-spacing: 0.03em;
                    color: var(--third-color);
                    font-weight: 400;
                    font-family: var(--main-font);
                    margin-bottom: 20px;
                    margin-left: 24px;
                }
}

