.second-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-color);
    margin-top: 94px;
    display: flex;
    align-items: center;
    width: 365px;
}