.text-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 696px;
}